nav {
    padding: 10px;
  }
ul {
    margin-left: auto;   
}

header img {
  width: 60px;
  }
.content2 img {
  width: 900px;
}
.content2 {
  clear: both;
}

.content img {
  width: 100%;
}  
@media (min-width: 800px) {
  .content img {
    float: right;
    margin-left: 10px;
    width: 400px;
  }  
}

body {
  background-color: #FAF7EF;
  background-image: url(images/backgroundgradient.png);
  background-size: cover;
}
nav,
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul,
footer ul{
  display: flex;
  gap: 10px;
}

nav li,
footer li{
  list-style: none;
}

.content p {
  width: 754px;
}